#
# Copyright (c) 2022 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

config SUIT_PROCESSOR
	bool "SUIT Manifest Processor library"
	help
	  Library for processing SUIT envelope 

config SUIT_PLATFORM_DRY_RUN_SUPPORT
	bool "Enable the SUIT platform dry run APIs"
	default y
	depends on !UNITY

config APP_LINK_WITH_SUIT_PROCESSOR_INTERFACE
	bool
	default y if SUIT_PROCESSOR
