# Copyright (c) 2022 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0

config SUIT_PROCESSOR
	bool "SUIT Manifest Processor library"
	help
	  Library for processing SUIT envelope 

config APP_LINK_WITH_SUIT_PROCESSOR_INTERFACE
	bool
	default y if SUIT_PROCESSOR
